<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html }}" >
    {% else %}
    <meta name="description" content="{{ site.meta.description }}" >
    {% endif %}
    {% if site.meta.author %}<meta name="author" content="{{ site.meta.author }}" />{% endif %}

    <title>{{ site.name }}{% if page.title %} ★ {{ page.title }}{% endif %}</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/posts.atom" />
    
    <link rel="stylesheet" type="text/css" media="none" onload="if(media!='all')media='all'" href="/css/swipebox.css"><noscript><link rel="stylesheet" href="/css/swipebox.css"></noscript>
    <link rel="stylesheet" type="text/css" media="none" onload="if(media!='all')media='all'" href="/css/syntax.css"><noscript><link rel="stylesheet" href="/css/syntax.css"></noscript>
    <link rel="stylesheet" type="text/css" media="none" onload="if(media!='all')media='all'" href="/css/style.css"><noscript><link rel="stylesheet" href="/css/style.css"></noscript>
    <link rel="stylesheet" type="text/css" media="none" onload="if(media!='all')media='all'" href="/css/bootstrap.min.css"><noscript><link rel="stylesheet" href="/css/bootstrap.min.css"></noscript>
    
    <script  src="/js/jquery.min.js"></script>
    <script  src="/js/bootstrap.min.js"></script>
    <script  src="/js/jquery.swipebox.min.js"></script>
    
    <script async defer type="text/javascript">
      $(function() {
        $('[data-toggle="tooltip"]').tooltip({container: 'body'})
      })
    </script>
    
    <script async defer type="text/javascript">
      (function($) {
        $('.swipebox').swipebox();
      })(jQuery);
    </script>
  </head>