---
layout: default
---

<div class="well">
  {{ content }}
</div>

{% for post in site.posts %}	
  <h3><a href="{{ post.url }}" data-toggle="tooltip" data-placement="bottom" title="{{ post.excerpt | strip_html | strip }}">{{ post.title }}</a></h3>
  <p><img class="post-language" width="20" height="20" alt="{{ post.language }}" src="/images/flags/{{ post.language }}.png"> <span class="post-date"><small><strong>{{ post.date | date: "%B %e, %Y %H:%M" }}</strong></small></span></p>			
{% endfor %}	