---
layout: default
---

<div class="well well-sm">
  {{ content }}
</div>

<div>
  {% for tag in site.categories %}
  <a href="#{{ tag[0] | slugify }}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> {{ tag[0] }}</a>
  {% endfor %}
</div>

<hr/>

<div>
  {% for tag in site.categories %}
  <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
  <div class="container-fluid posts-of-category">
  	<div class="row">
    {% for post in tag[1] %}
    <div class="col-md-4">
    	      <h3><a href="{{ post.url }}" data-toggle="tooltip" data-placement="bottom" title="{{ post.excerpt | strip_html | strip }}">{{ post.title }}</a></h3>
      <p><img class="post-language" width="20" height="20" alt="{{ post.language }}" src="/images/flags/{{ post.language }}.png"> <span class="post-date"><small><strong>{{ post.date | date: site.datetime_format }}</strong></small></span></p>	
    </div>
    {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>