---
layout: default
---

<div class="well well-sm">
  {{ content }}
</div>

<div>
  {% for category in site.data.categories %}
    {% capture inclurl %}#{{ category.slug }}{% endcapture %}
    {% capture incltext %}{{ category.name }}{% endcapture %}
    {% include button.html class="btn btn-primary btn-category" icon="glyphicon-tag" url=inclurl text=incltext %}
  {% endfor %}
</div>

<hr/>

<div>
  {% for category in site.data.categories %}
  <h2 id="{{ category.slug }}">{{ category.name }}</h2>
  <div class="container-fluid posts-of-category">
  	<div class="row">
    {% for post in site.posts %}
      {% if post.category == category.slug %}
      <div class="col-md-4">
        <h3><a href="{{ post.url }}" data-toggle="tooltip" data-placement="bottom" title="{{ post.excerpt | strip_html | strip }}">{{ post.title }}</a></h3>
        <p><img class="post-language" height="20" alt="{{ post.language }}" src="/images/flags/{{ post.language }}.png"> <span class="post-date"><small><strong>{{ post.date | date: site.datetime_format }}</strong></small></span></p> 
      </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>