---
layout: default
---

<h2>{{ page.title }}</h2>
<p>{{ page.date | date: site.datetime_format }} by {{ page.author }} {% if page.images != null %} | <a id="gallery" href="#">attached images</a>{% endif %}
</p>

<div class="post">
  {{ content }}
</div>

<a href="{{ site.url }}{{ page.url }}" title="{{ page.title }}" data-toggle="tooltip" data-placement="bottom"><img width="32" height="32" alt="Share post on Facebook." src="/images/icons/facebook.png"></a>

{% if page.images != null %}       
  {% include gallery.html id="gallery" %}
{% endif %}